# .NET
**/bin/
**/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / VS Code
.vs/
.vscode/

# macOS
.DS_Store

# Node / Angular
**/node_modules/
**/dist/

# Environment variables / secrets
.env
.env.*
!.env.example

# Logs
*.log
